STIB_API_KEY=your-stib-api-key-here
DELIJN_API_KEY=your-delijn-api-key-here
DELIJN_GTFS_STATIC_API_KEY=your-delijn-gtfs-static-key-here
DELIJN_GTFS_REALTIME_API_KEY=your-delijn-gtfs-realtime-key-here
FLASK_DEBUG=0
NGROK_DOMAIN=optional-ngrok-domain-here
NGROK_AUTHTOKEN=your-ngrok-authtoken-here