# Secrets
*.pem
*.key
*.crt
.env


# Cache
__pycache__/
*.pyc
.pytest_cache/

# Logs
logs/
*.log

# Data
data/
gtfs/
gtfs_transit/

# Development
.vscode/
.idea/
venv/

config/local.py
docker-compose.yaml

cache/

# Random things
.DS_Store
app/config/local.py
gtfs_transit.zip
.brussels_transit_requirements_version
eslint.config.mjs

transit_providers.egg-info/
app/transit_providers/hu/bkk/gtfs-realtime.proto
app/transit_providers/hu/bkk/gtfs-realtime-realcity.proto
test_alerts.py
app/transit_providers/hu/bkk/test_alerts.py
app/transit_providers/hu/bkk/test_realcity.py

transit_providers.egg-info/
app/transit_providers/hu/bkk/gtfs-realtime.proto
app/transit_providers/hu/bkk/gtfs-realtime-realcity.proto
test_alerts.py
app/transit_providers/hu/bkk/test_alerts.py
app/transit_providers/hu/bkk/test_realcity.py


.env
.DS_Store
.gitignore
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pickle
*.txt
flixbus.egg-info/*
*/.gtfs_cache_hash
*/.gtfs_hash
*/.gtfs_cache
*/.parquet

*/gtfs_delijn/.gtfs.duckdb
*/gtfs_delijn/.gtfs_parquet/calendar_dates.parquet
*/gtfs_delijn/.gtfs_parquet/routes.parquet
*/gtfs_delijn/.gtfs_parquet/shapes.parquet
*/gtfs_delijn/.gtfs_parquet/stop_times.parquet
*/gtfs_delijn/.gtfs_parquet/stops.parquet
*/gtfs_delijn/.gtfs_parquet/trips.parquet
*/gtfs_delijn/.gtfs_parquet/agency.parquet
*/gtfs_delijn/.gtfs_parquet/feed_info.parquet
*/gtfs_delijn/.gtfs_parquet/translations.parquet

*/performance_metrics/*
downloads/
*.egg-info/
*.egg-info


DEVELOPMENT_DIARY.md
compare_configs.py
backup/*
app/transit_providers/hu/bkk/protos/gtfs-realtime.proto
app/transit_providers/hu/bkk/protos/gtfs-realtime-realcity.proto
app/transit_providers/hu/bkk/test.py
.pre-commit-config.yaml
profiling_results/
app/config/backups/*
._.DS_Store
._.gitignore
._docker-compose.yaml
.gitignore
app/._.DS_Store
app/config/._local.py

*.msgpack.tmp
app/schedule_explorer/backend/gtfs_precache
build/
*.msgpack