# Secrets
*.pem
*.key
*.crt
.env


# Cache
__pycache__/
*.pyc
.pytest_cache/

# Logs
logs/
*.log

# Data
data/
gtfs/
gtfs_transit/

# Development
.vscode/
.idea/
venv/

config/local.py
docker-compose.yaml

cache/

# Random things
.DS_Store
app/config/local.py
gtfs_transit.zip
.brussels_transit_requirements_version